body {
	background: rgb(146, 246, 251);
	/* background: linear-gradient(180deg, rgba(177,255,255,1) 0%, rgba(145,255,149,1) 70%, rgba(176,255,251,1) 100%); */
	background: gradien;
	max-width: 100%;
	overflow-x: hidden;
	font-family: 'Source Code Pro', monospace;
	font-weight: 400;
	/* overflow: hidden; */
}

a {
	text-decoration: none;
}

.gamelink {	
	color: #0907ec;
	padding: 0.2rem 1rem;
	text-align: center;
	text-decoration: underline;
	display: inline-block;	
}

.gamelink:hover {
	cursor: pointer;
}

.gamelink:active {
	color: red;
	display: inline-block;	
}

.gamelink:visited {
	cursor: pointer;
	color: #572191;
}

.windowslink {	
	color: #0907ec;
	padding: 0.2rem 1rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;	
}


.windowslink:hover {
	cursor: pointer;
}

.windowslink:active {
	color: red;
	display: inline-block;	
}

.windowslink:visited {
	cursor: pointer;
	color: #572191;
}

.rick {
	position: absolute;
	height: 40vw;
	z-index: 101;
	left: 10%;
	top: 19.5%;
}

.goose {
	position:absolute;
	/* transform:translate(-50%,-50%); */
	height:35px;
	width:65px;
	border-radius: 30px;
	background-color:white;
	border:none;
	color:white;
	z-index: 99;
	/* rotate: 45deg; */
}

.goose_nose {
	position:relative;
	/* transform:translate(-50%,-50%); */
	height:15px;
	width:18px;
	left: 50px;
	bottom: 25px;
	border-radius: 20px;
	background-color:rgb(255, 179, 48);
	border:none;
	color:rgb(255, 179, 48);
	z-index: 100;
	/* rotate: 45deg; */
}

.goose_eye {
	position:relative;
	/* transform:translate(-50%,-50%); */
	height:6px;
	width:6px;
	top:0px;
	left:-5px;
	border-radius: 5px;
	background-color:black;
	border:none;
	color:black;
	z-index: 100;
	/* rotate: 45deg; */
}

.the_background {
	display: block;
	position: absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	max-width: 100vw;
	max-height: 100%;
	margin: 0px;
	background-color: rgb(146, 246, 251);
}

.mainbox {
	display: none;
	position: absolute;
	background-color: #EEF2F5;
	padding: 4px;
	border-bottom: solid 2px #808080;
	border-right: solid 2px #808080;
	border-top: solid 2px #FEFFFF;
	border-left: solid 2px #FEFFFF;
	box-shadow: 2px 2px #010101;
	max-width: 70%;
	min-width: 20%;
	z-index: 1;
}

.terminalbox {
	display: none;
	position: absolute;
	background-color: #171421;
	padding: 4px;
	border-bottom: solid 2px #5E5C64;
	border-right: solid 2px #5E5C64;
	border-top: solid 2px #5E5C64;
	border-left: solid 2px #5E5C64;
	box-shadow: 2px 2px #010101;
	max-width: 50%;
	min-height: 40%;
	min-width: 40%;
	max-lines: 20;
	color: white;
	font-size: 1.1rem;
    flex-direction: column;
	flex-shrink: 1;
    flex-grow: 1;
	z-index: 1;
}

.cvbox {
	display: block;
	position: absolute;
	background-color: #EEF2F5;
	padding: 4px;
	border-bottom: solid 2px #808080;
	border-right: solid 2px #808080;
	border-top: solid 2px #FEFFFF;
	border-left: solid 2px #FEFFFF;
	box-shadow: 2px 2px #010101;
	min-width: 40%;
	min-height: 40%;
	z-index: 1;
}

div.terminalbox a:link {
	color: white;
	text-decoration: underline;
}

div.terminalbox a:visited {
	color: white;
	text-decoration: underline;
}

div.terminalbox a:active {
	color: #0907ec;
	text-decoration: underline;
}

.gamebox {
	display: none;
	position: absolute;
	background-color: #171421;
	padding: 4px;
	border-bottom: solid 2px #5E5C64;
	border-right: solid 2px #5E5C64;
	border-top: solid 2px #5E5C64;
	border-left: solid 2px #5E5C64;
	box-shadow: 2px 2px #010101;
	width: fit-content;
	height: fit-content;
}

.terminalcontent {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 2ex;
    overflow-x: hidden;
    overflow-y: scroll;
	max-height: 30rem;
}

.gamecontent {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
	width: fit-content;
	height: fit-content;
}

.content {
	padding: 10px;
}

.topbar {
	display: flex;
	flex-direction: row;
	background: rgb(106, 166, 240);
	padding: 5px;
	font-size: 1.5rem;
	color: white;
}

.terminaltopbar {
	display: flex;
	flex-direction: row;
	background: #2C2C2C;
	padding: 5px;
	font-size: 1.7rem;
	color: white;
}

.buttons {
	margin-left: auto;
	display: flex;
	flex-direction: row;
	cursor: pointer;
}

.topbarButton {
	background-color: #EEF2F5;
	padding: 4px;
	border-bottom: solid 2px #808080;
	border-right: solid 2px #808080;
	border-top: solid 2px #FEFFFF;
	border-left: solid 2px #FEFFFF;
	box-shadow: 2px 2px #010101;
	width: 16px;
	font-size: 1rem;
	color: black;
}

.terminaltopbarButton {
	background-color: #2C2C2C;
	padding: 4px;
	border-bottom: solid 2px #808080;
	border-right: solid 2px #808080;
	border-top: solid 1px #FEFFFF;
	border-left: solid 1px #FEFFFF;
	box-shadow: 2px 2px #010101;
	width: 16px;
	font-size: 1rem;
	color: whitesmoke;
}

.icon {
	display: block;
	margin-left: 20px;
	margin-top: 20px;
}

.taskbar {
	position: absolute;
	background-color: #EEF2F5;
	border-bottom: solid 2px #808080;
	border-right: solid 2px #808080;
	border-top: solid 2px #FEFFFF;
	border-left: solid 2px #FEFFFF;
	bottom: 0;
	left: 0;
	width: 99.8%;
	height: 2vw;
	display: flex;
	flex-direction: row;
	font-size: 1.25vw;
}

.startButton {
	border-bottom: solid 2px #808080;
	border-right: solid 2px #808080;
	border-top: solid 2px #FEFFFF;
	border-left: solid 2px #FEFFFF;
	padding: 4px;
	cursor: pointer;
}

.startButton img {
	height: 1.2vw;
	width: auto;
}

.startmenu {
	display: none;
	background-color: #EEF2F5;
	height: 9vw;
	width: 20%;
	bottom: 0;
	left: 0;
	position: absolute;
} 

.startmenuItem {
	background-color: #EEF2F5;
	width: auto;
	margin: 2px;
	line-height: 3vw;
	border-bottom: solid 2px #808080;
	border-right: solid 2px #808080;
	border-top: solid 2px #FEFFFF;
	border-left: solid 2px #FEFFFF;
	align-items: center;
	padding-left: 4px;
}

.startmenuItem:hover {
	background-color: rgb(181, 181, 181);
}

.taskbarWindow {
	display: none;
	background-color: #ffffff;
	border-bottom: solid 2px #808080;
	border-right: solid 2px #808080;
	border-top: solid 2px #FEFFFF;
	border-left: solid 2px #FEFFFF;
	padding: 4px;
	cursor: pointer;
}

.clock {
	border-bottom: solid 2px #808080;
	border-right: solid 2px #808080;
	border-top: solid 2px #FEFFFF;
	border-left: solid 2px #FEFFFF;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: auto;
	cursor: pointer;
}

.desktop {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* width: -moz-fit-content; */
	width: fit-content;
	margin-left: 0px;
}

.desktopicon {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	overflow-wrap: auto;
	font-size: 1.1rem;
	cursor: pointer;
}

.desktopicon img {
	height: 4vw;
	width: auto;
}

.windowContainer {
	background: rgb(175,211,255);
	background: linear-gradient(90deg, rgba(175,211,255,1) 0%, rgba(255,255,255,1) 16%);
	border-bottom: solid 2px #c0c0c0;
	border-right: solid 2px #c0c0c0;
	margin: 4px;
}

.properties {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.properties img {
	width: 20%;
	padding: 20px;
}

.txt {
	padding: 20px;
}

.mobile_device_380 {
	display: none;
}

.mobile_device_480 {
	display: none;
}

@media screen and (max-width: 380px){
	.mobile_device_380 {display: none;}   
	.mobile_device_480 {display: block;}           
	.desktop_device {display: none;}

	body {
		background: rgb(146, 246, 251);
		/* background: linear-gradient(180deg, rgba(177,255,255,1) 0%, rgba(145,255,149,1) 70%, rgba(176,255,251,1) 100%); */
		background: gradien;
		max-width: 100%;
		overflow-x: auto;
		font-family: 'Source Code Pro', monospace;
		font-weight: 400;
		/* overflow: hidden; */
	}
}

@media screen and (max-width: 480px) {
	.mobile_device_380 {display: none;}   
	.mobile_device_480 {display: block;}           
	.desktop_device {display: none;}

	body {
		background: rgb(146, 246, 251);
		/* background: linear-gradient(180deg, rgba(177,255,255,1) 0%, rgba(145,255,149,1) 70%, rgba(176,255,251,1) 100%); */
		background: gradien;
		max-width: 100%;
		overflow-x: auto;
		font-family: 'Source Code Pro', monospace;
		font-weight: 400;
		/* overflow: hidden; */
	}

	.mainbox {
		display: block;
		position: relative;
		margin: 10px;
		left: 3%;
		min-width: 80%;
		font-size: 10vw;
	}

	.topbar {
		display: flex;
		flex-direction: row;
		background: rgb(106, 166, 240);
		font-size: 0%;
		color: white;
	}
}

@media screen and (max-width: 768px){

	.mainbox {
		display: block;
		position: relative;
		margin: 20px;
		left: 2%;
		max-width: 60%;
		font-size: 3.2vw;
	}

	.topbar {
		font-size: 3vw;
	}

	.desktopicon {
		display: none;
	}

	.taskbar {
		display: none;
	}

	.topbarButton {
		width: 2vw;
		height: 2vw;
		font-size: 2vw;
	}
}